.ToggleHistoryBlock, .ClearHistoryBlock {
    display: flex;
    margin: 20px;
    text-align: center;
}

#toggleHistoryBtn {
    background-color: lime;
    border-radius: 25%;
}

#clearHistoryBtn {
    background-color: crimson;
    border-radius: 25%;
}

button {
    font-size: 25px;
}

#containerChild {
    width: 40%;
    display: inline-block;
    border: 5px solid black;
    height: 200px;
}

.CalcHistoryBlock {
    margin-right: 10px;
    margin-left: 46px;
}