.Row1, .Row2, .Row3, .Row4, .Row5 {
    margin: 5px;
}

.Row1 {
    width: 100%;
    text-align: left;
}

#inner {
    display: inline-block;
}

#clearBtn, #seven, #four, #one, #zero, #negationBtn, #eight, 
#five, #two, #decimal, #percentBtn, 
#equalSign, #nine, #six, #three {
    margin-right: 6px;
}

#divisionBtn, #multiplicationBtn, #subtractBtn,
#addBtn, #percentBtn, #nine, #six, #three, #equalSign,
#negationBtn, #eight, #five, #two, #decimal {
    margin-left: 6px;
} 

button {
    background-color: orange;
    font-size: 38px;
    border-radius: 45%;
}

#containerChild {
    width: 45%;
    height: 200px;
    display: inline-block;
    border: 5px solid black;
    margin-bottom: 0px;
    margin-top: 0px;
}

#clearBtn, #negationBtn, #percentBtn, #divisionBtn {
    font-size: 20px;
}

.CalcButtons {
    margin-left: 10px;
}

